 .App {
  text-align: center;
  
}
body{
  background-image: url('./images/clockbg.png');
  background-size: cover;
}

.stopwatch {
  text-align: center;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  max-width: 400px;
  margin-left: 220px;
  margin-top: 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  box-shadow: 1px 1px 6px 6px  rgb(133, 128, 128);
  border-radius: 10px;
  
}

.display {
  margin-left: 70px;
  font-size: 2rem;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url('./images/images.png');
  background-size: cover;
  box-shadow: 1px 1px 6px 6px  rgb(133, 128, 128) inset;
  background-color: #b4d1f0;
  text-align: center;
  
  display: flex;
  justify-content: center;
  align-items: center;
}


button {
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

button:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}

.buttons button {
  margin: 0 5px;
  padding: 10px 20px;
  
  color: #141414;
  border: none;
  cursor: pointer;
  margin-top: 50px;
}
.buttons button:disabled {
  background-color: rgba(255, 255, 255, 0.15);
  cursor: not-allowed;
}
.buttons button:hover:enabled {
  background-color: rgba(255, 255, 255, 0.15);
} 

@media screen and (max-width:768px) {
  body{
    font-size: 14px;
    background-image: url('./images/clockbg.png');
    background-size: cover;
    text-align: center;
  }
  .stopwatch{
    width: medium;
    text-align: center;
    padding: 0px;
    font-size: 14px;
  }
  .display{
    width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url('./images/images.png');
  background-size: cover;
  font-size: 16px;
  }
}
